{% extends "base.html" %}

{% block content %}
    {% if busy %}
    <div>Tool is currently busy creating an archive</div>
    {% else %}
    <button><a href="{{url_for('createArchive')}}">Create Archive</a></button>
    {% endif %}
    {% if archives %}
        {% for archive in archives %}
            <div style="border: 1px solid red;">
                <p>ID: {{ archive.id }}</p>
                <p>Created By : {{ archive.user_id }}</p>
                <p>Created At: {{ archive.created_on }}</p>
                <button><a target="_blank" href="http://{{archive.id}}.localhost:9090">View Archive</a></button><br><br>
                <button><a href="/removeArchive/{{archive.id}}">Remove archive</a></button>
            </div>
        {% endfor %}
    {% else %}
        <div>Currently No Archives</div>
    {% endif %}
{% endblock %}